@using BaoXin.Entity
<!DOCTYPE html>
@{
   
    List<City> citys = new List<City>();
    if (ViewBag.Citys != null)
    {
        citys = ViewBag.Citys as List<City>;
    }
}
<html lang="zh">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 爆信网</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/new/css/style.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/layer/jquery.min.js")"></script>

    <script src="~/Scripts/artDialog.js"></script>
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/zzsc.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/artDialog.source.js"></script>

    <script src="~/Scripts/iframeTools.source.js"></script>
 @*   <script src="~/Scripts/layer/style.js"></script>*@
    <link href="~/Scripts/skins/blue.css" rel="stylesheet" />

    @*<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/layer/style.js")"></script>*@
    <script type="text/javascript">
        //显示灰色 jQuery 遮罩层 
        function showBg() {
            var bh = $("body").height();
            var bw = $("body").width();
            $("#fullbg").css({
                height: bh,
                width: bw,
                display: "block"
            });
            $("#dialog").show();
        }
        //关闭灰色 jQuery 遮罩 
        function closeBg() {
            $("#fullbg,#dialog").hide();
        }

        var delfag = 1;
        function GoDel() {
            
            
         
            if ($("#delete").text() == "删除") {
                clearTimeout(timeout1);
                $("#zhanshi").scrollTop(0);
                $("#delete").text("返回");
             
                delfag = 2;
                $("#scrolll li a").each(function () {
                    // console.log($(this));                
                    $(this).css("display", "block");
                });
               
            } else {
                location.reload();
            }
            
           


        }



    </script>
    @if (IsSectionDefined("BEGINCSS"))
    {
        @RenderSection("BEGINCSS")
    }
</head>
<body>

    <div id="big">
        <div class="top">
            <div class="logo">
                <img src="@Url.Content("~/Content/new/images/LOGO.png")" />
            </div>
            <div class="diqu">

                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "form1", @style = "width: 650px;height: 40px;position: relative" }))
                { 
                    <span style="width: 75px; height: 34px; position: absolute; top: 0; left: 5px;">
                        <img src="@Url.Content("~/Content/new/images/TOP_diqu.png")" style="width: 75px;height: 34px" /></span>
                
                    <select id="city" name="city" style="width: 75px; height: 34px; position: absolute; top: 0; left: 90px; border-radius: 5px">
                        <option value="">全国</option>
                        @foreach (var c in citys)
                        { 
                            <option value="@c.CityName" @if (ViewBag.Sel == c.CityName)
                                                        {@Html.Raw("selected='selected'");
                                                        }>@c.CityName</option>
                        }


                    </select>
              
                    <input id="bxyx" placeholder="爆信一下"  type="text" style="width: 300px;height: 24px;position: absolute;top: 0;left:180px;border-radius:5px;font-size: 15px;padding: 5px" id="Searchkey" name="Searchkey" value=" " >
                    <button onclick="  ;if ($('#bxyx').val().trim()=='爆信一下'){$('#bxyx').val('');} document.getElementById('form1').submit();" style="width: 100px;height: 32px;position: absolute;top: 0;left:505px;background: #fafafa;font-size: 15px;font-weight: bold">爆信一下</button>    
                }

            </div>
            <div class="clear"></div>
            <div class="dc" style="width: 270px;margin-right: 54px;">
                @if (Session["User"] == null)
                {
                    <ul style="margin-left: 100px">
                        
                        <li style="background:#f9a645;margin-left: 10px;border-radius: 5px;float: right "><a  href="@Url.Action("register", "account", new RouteValueDictionary { { "returnUrl", WorkContext.Url } })">注册</a></li>
                    <li style="background:#f9a645;border-radius: 5px;float: right "><a href="#" onclick=" showBg();  ">登陆</a>
                        </li>
                    </ul>
                }
                else
                {
                    var user = Session["User"] as BaoXin.Entity.UsersEntity;
                    <ul style="width: 270px;height: 35px;text-align: right">

                    
                        <li style="background:#f9a645;margin-left: 10px;border-radius: 5px;float: right "><a href="@Url.Action("logout", "account")">[退出]</a></li>
                          <li style="background:#f9a645;border-radius: 5px;width: auto;float: right"><a href="#">欢迎您: @user.NickName </a><a target="_blank" href="/shop/admin/loginn">订单管理</a>
                        </li>

                    </ul>
   
                  
                }


            </div>
            
        </div>
        <div class="center">
            <div class="nav">
                <ul>
                    <li  style="margin-left:280px;margin-right:0;border-left:1px solid #fff;height:38px"><a href="#" onclick="openChat();">发信息</a></li>
                    <li style="margin-left:0;margin-right:0;border-left:1px solid #fff;height:38px"><a href="/shop/shop/selectshop">购物</a></li>
                    <li style="margin-left:0;margin-right:0;border-left:1px solid #fff;height:38px">@if (Session["User"] != null)
                        {   
                          
                        @Html.Raw("<a href='javascript:' onclick='GoDel()' id='delete'>删除</a>");

                        }
                        else
                        { 
                        <a href="javascript:" onclick="alert('登陆后才能删除！')">删除</a>
                        }
                    </li>
                    <li style="margin-left:0;margin-right:0;border-left:1px solid #fff;border-right:1px solid #fff;height:38px">
                        @if (Session["User"] != null)
                        {   
                          
                       <a href='/shop/shop/apply'>开店</a>

                        }
                        else
                        { 
                        <a href="javascript:" onclick="alert('登陆后才能开店！')">开店</a>
                        }
                       </li>
                </ul>
            </div>
            @RenderBody()
            <div class="clear"></div>
        </div>
        <div class="footer" style="padding-top:25px">
            <span  style="margin:20px auto; ">爆信网<br />
                http://www.baoxin999.com/<br />
                鄂ICP备15002824号-1<br />
                Copyright  &copy  2015 爆信网络 All Rights Reserved.</span>
        </div>



        <div id="fullbg"></div>
        <div id="dialog">
            <div>
                <form id="loginForm" method="post">
                    <ul>
                        <li style="height: 68px; width: auto;">
                            <p class="close"><a href="#" onclick="closeBg();" class="chacha"></a></p>
                        </li>
                        <li style="font-family: '微软雅黑'; font-size: 14px; text-align: left; text-indent: 4em;">爆信网账号登录</li>
                        <li class="user">
                            <input style="background-color: inherit; width: 226px; height: 30px; margin-top: 1px; margin-left: 30px; text-indent: 0.5em; border: none;"
                                id="loginName" type="text" placeholder="您的邮箱地址或绑定手机" /></li>
                        <li class="mima">
                            <input id="loginPwd" type="password" style="background-color: inherit; width: 226px; height: 30px; margin-top: 1px; margin-left: 30px; text-indent: 0.5em; border: none;"
                                placeholder="请输入密码" onfocus="javascript:if(this.value=='请输入密码')this.value='';" /></li>
                        <li class="moren_dl"><span style="margin-top: 10px; display: block; float: left;">
                            <input id="loginIsRem" type="checkbox" /></span><span style="display: block; float: left; margin-left: 8px;">
                                                                                                                     下次自动登录</span><a href="#" style="display: block; float: right; margin-left: 8px; color: #59bee5;">忘记密码</a></li>
                        <li class="moren_dl"><a href="#"><span class="login1" id="loginSubmit">登录</span></a><span style="display: block; float: left; margin-left: 8px;">还没有爆信网账号?</span>
                            <a href="@Url.Action("register", "account", new RouteValueDictionary { { "returnUrl", WorkContext.Url } })"" style="display: block; float: right; margin-left: 8px; color: #59bee5;">立即注册!</a>

                        </li>
                    </ul>
                </form>
            </div>
        </div>
        @if (IsSectionDefined("ENDSCRIPT"))
        {
            @RenderSection("ENDSCRIPT")
        }
    </div>
</body>
</html>
